$font-stack: Helvetica, sans-serif;
$text-color: #1e1e24;
$border-color: #377771;
$primary-color: #f5f3f5;
$secondary-color: #2dd881;
$complementary-color: #a9efcb;
$lighter-color: #d5c7bc;
$rarityRare-color: goldenrod;
$transparency-color: #d5c7bc4e;
